In [ ]:
import numpy as np
import pandas as pd

In [ ]:
netflix_data = pd.read_csv("netflix_titles.csv")
imdb_data = pd.read_csv("title_basic_imdb.tsv", sep = '\t')

In [ ]:
imdb_rating = pd.read_csv("movie_ratings.tsv", sep = "\t")

In [ ]:
new_dataframe_with_rating = pd.merge(imdb_data, imdb_rating, how = 'inner',on = ['tconst'])

In [ ]:
new_dataframe_with_rating = new_dataframe_with_rating[new_dataframe_with_rating['titleType']!='tvEpisode']

In [ ]:
new_dataframe_with_rating = new_dataframe_with_rating.rename(columns={"originalTitle":"title"})

In [ ]:
you_tvs = new_dataframe_with_rating[new_dataframe_with_rating['title']=='You']

In [ ]:
you_tvs

In [ ]:
netflix_data

In [ ]:
new_data_netflix = pd.merge(netflix_data,new_dataframe_with_rating, how = 'inner', on = ['title'])

In [ ]:
crew_names = pd.read_csv('name_crew.tsv', sep = '\t')
crew_titles = pd.read_csv('title_crews.tsv',  sep='\t')

In [35]:
crew_titles

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
8843798  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8843799  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
8843800  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
8843801  tt9916856           nm10538645                      nm6951431
8843802  tt9916880            nm0996406            nm1482639,nm2586970

[8843803 rows x 3 columns]

In [ ]:
new_ratings_crew = pd.merge(crew_titles, on=['tconst','t'])